<section id="services">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">At Your Service</h2>
                    <hr class="primary">
                </div>
            </div>
        </div>
        <div class="container">
            <div class="row">
                <div class="col-lg-3 col-md-6 text-center">
                    <div class="service-box">
                        <i class="fa fa-4x fa-female text-primary sr-icons"></i>
                        <h3>Perfect Fit</h3>
                        <p class="text-muted">Wear dresses that fit you</p>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6 text-center">
                    <div class="service-box">
                        <i class="fa fa-4x fa-scissors text-primary sr-icons"></i>
                        <h3>Customised Designs</h3>
                        <p class="text-muted">Design your own product</p>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6 text-center">
                    <div class="service-box">
                        <i class="fa fa-4x fa-smile-o text-primary sr-icons"></i>
                        <h3>Best Comfort</h3>
                        <p class="text-muted">Comfort is all yours</p>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6 text-center">
                    <div class="service-box">
                        <i class="fa fa-4x fa-heart text-primary sr-icons"></i>
                        <h3>Made with Love</h3>
                        <p class="text-muted">We love our customers</p>
                    </div>
                </div>
            </div>
        </div>
    </section>
